<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.fit.samples.basicsensorsapi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/emiaslogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Profile1"></activity>
        <activity android:name=".activities.Sources" />
        <activity
            android:name=".activities.profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityEnter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConnectToDevice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityAccountReady"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckData"
            android:label="@string/title_activity_check_data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>